#stats {
    -fx-background-color: rgba(0, 168, 355, 0.05);
    -fx-background-radius: 25;
}

#graphAnchor, #cardsAnchor {
    -fx-background-color: rgba(255, 210, 28, 0.3);
}

#cardTab, #graphTab, #openDialog {
    -fx-background-color: rgba(255, 210, 28, 0.6);
}

#openDialog {
    -fx-border-width: 1px;
    -fx-border-color: rgba(240, 190, 20, 0.6);
}
